body {
    background-color: #444444;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

th h1 {
    font-family: Arial, sans-serif;
    color: #afd7ff;
    text-align: center;
}

a {
    font-family: Verdana, sans-serif;
    color: #3498db;
    text-decoration: none;
}
a:hover {
    color: #e74c3c;
}

img {
    border: 2px solid #2ecc71;
    border-radius: 10px;
}
